<div class="row">
  <div class="col-md-10">
    <div class="input-group mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Máximo de ciudades a mostrar"
        [(ngModel)]="size"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="cargaCiudades()"
          >
            Máximo de ciudades a mostrar
          </button>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Ciudades</h4>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Ciudad</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities">
          <td>{{city.cityId}}</td>
          <td>{{city.city}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="detalleCiudad(city.cityId)">Detalle</button>
            &nbsp;
            <button type="button" class="btn btn-warning btn-sm" (click)="editarCiudad(city.cityId)">Editar</button>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="borrarCiudad(city.cityId)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
